<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpotulipa - Resetee su contrasena</title>
</head>
<body>
    <div style='background-color: rgb(26, 23, 23); width: 250px; padding: 0px; border-radius: .5em; height: 550px;'>
        <h1 style='color: rgb(250, 225, 112); font-size: 2em; text-align: center;'>Resetee su contraseña</h1>
        <p style='color: rgb(250, 225, 112); text-align: center;'>Copie este código y peguelo en el siguiente enlace: %Token%</p>
        <a href='localhost/corpotulipa-gestion/resetear_password' style='background-color: rgb(250, 225, 112); color: black; padding: 10px; border-radius: .5em; margin-left: 80px; text-decoration: none; font-weight: bold; position: absolute;'>Ingresa Aquí</a>
    </div>
</body>
</html>